.navbar-container {
    width: 100%;
    background: #000000F2;
    position: fixed;
    opacity: 0.9;
    z-index: 100;
}

.nav-content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 80px;
    backdrop-filter: blur(20%);
}

.nav-content-container > a {
    padding: 0px;
}

.logo-container {
    width: 156.4970703125px;
    height: 49.9790153503418px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.link-container ul {
    display: flex;
    gap: 12px;
}

ul li {
    list-style: none;
}

ul li > a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
    padding: 5px;
    font-family: PolySans Trial;
    font-weight: 400;
}


/* --- Hover + Active link animation --- */

.link-container ul li a {
  position: relative;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  padding: 5px;
  font-family: "PolySans Trial", sans-serif;
  font-weight: 400;
  transition: color 0.3s ease;
}

.link-container ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background: #CEFAD7;
  transition: width 0.3s ease;
}

.link-container ul li a:hover {
  color: #CEFAD7;
}

.link-container ul li a:hover::after {
  width: 100%;
}

/* Active link based on scroll */
.link-container ul li a.active {
  color: #CEFAD7;
}

.link-container ul li a.active::after {
  width: 100%;
}


.hamburger-wrapper {
    display: none;
}






/* ----------MOBILE RESPONSIVENESS----------- */

@media (max-width: 768px) {

    .navbar-container {
    width: 100%;
    background: #000000F2;
    position: fixed !important;
    backdrop-filter: blur(30px);
    opacity: 0.9;
    z-index: 100;
    padding: 0px 10px;
}


.nav-content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px 8px 0px;
    overflow-x: hidden;
}



    .hamburger-wrapper  {
        display: contents;
    }
    
   .link-container {
    display: none;
} 
}
