.banner-container {
    background-color: #061212;
    height: 526px;
    width: auto;
    display: flex;
    justify-content: space-between;
     margin: 0px 60px 50px 60px;
}

.banner-container img {
    width: 90%;
    height: 525.6354370117188px;
}

.banner-container .img-ban-1 img {
    width: 100%;
    height: 100%;
}

.banner-contents {
    display: flex;
    width: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
}

.banner-texts {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    padding-bottom: 10px;
}

.ban-main-text {
    font-size: 40px;
    padding-bottom: 10px;
}

.ban-sub-text {
    font-size: 20px;
    opacity: 50%;
}

.btn-container .btn {
    border: none;
    background-color: #CEFAD7;
    color: #091E1D;
    padding: 10px 26px;
}


/* ------------MOBILE RESPONSIVENESS------------------ */

@media (max-width: 768px) {
    .banner-container {
    background-color: #061212;
    height: 308px !important;
    width: auto;
    display: flex;
    justify-content: space-between;
     margin: 0px 10px 10px 10px !important;
     position: relative !important;
}

.banner-container img {
    width: 101.89476013183594px !important;
    height: 310.4944763183594px !important;
    overflow-x: hidden;
}

.banner-container .img-ban-1 img {
    width: 60% !important;
    height: 100% !important;
    object-fit: fill;
}

.banner-container .img-ban-2 img {
    width: 45% !important;
    height: 100% !important;
    object-fit: fill;
    position: absolute;
    top: -1.25px;
    left: 195px;
}

.banner-contents {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
    position: absolute;
    top: 35%;
}

.banner-texts {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    padding-bottom: 10px;
}

.ban-main-text {
    font-size: 20.38px !important;
    padding-bottom: 10px;
}

.ban-sub-text {
    font-size: 10.19px !important;
    opacity: 50%;
}

.btn-container .btn {
    border: none;
    background-color: #CEFAD7;
    color: #091E1D;
    padding: 10px 15.25px !important;
    font-size: 8px;
    word-spacing: 3px;
}
}