.service-wrapper {
    height: 721px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 76px;
    padding: 5% 0%;
}

.services-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.services-text > .main-text {
    font-size: 48px;
}

.services-text > .sub-text {
    font-size: 20px;
}

/* CARDS STYLES */

.services-cards {
    display: flex;
    gap: 20px;
}

.services-cards > .cards {
    width: 33.33%;
}

.services-cards > .cards > .cards-img:hover {
    transform: scale(1.05);
    transition: 0.4s ease-in-out;
}

.services-cards > .cards > .cards-img {
    height: 295px;
    transition: 0.4s ease-in-out;
}

.services-cards > .cards > .card-texts {
    display: flex;
    flex-direction: column;
    margin: 20px 66px 20px 20px;
    gap: 20px;
    color: #fff;
}

.services-cards > .cards > .card-texts > .major-texts {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: max-content;
}

.big-text {
    font-size: 24px;
}

.small-text {
    font-size: 14px;
}

.list-texts {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.list-img img{
    width: 13.00000286102295px;
    margin-right: 4px;
}

.services-btn .btn {
    padding: 10px 26px;
    border: 1px solid #fff;
    background-color: #FFFFFF1A;
    color: #FFFFFF;
    word-spacing: 5px;
}


/* -----------MOBILE RESPONSIVENESS---------- */

@media (max-width: 768px) {
    .service-wrapper {
    height: max-content !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 76px;
    padding: 25% 8% !important;
}

.services-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.services-text > .main-text {
    font-size: 36px !important;
}

.services-text > .sub-text {
    font-size: 18px !important;
}

/* CARDS STYLES */

.services-cards {
    display: flex;
    gap: 20px;
    width: 100vw;
    flex-direction: column;
}

.services-cards > .cards {
    width: 100% !important;

}

.services-cards > .cards > .cards-img {
    width: 100%;
    height: 295px;
}

.services-cards > .cards > .card-texts {
    display: flex;
    flex-direction: column;
    margin: 20px 66px 20px 20px;
    gap: 20px;
    color: #fff;
}

.services-cards > .cards > .card-texts > .major-texts {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.big-text {
    font-size: 24px;
}

.small-text {
    font-size: 14px;
}

.list-texts {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    width: 100%;
}

.list-img img{
    width: 13.00000286102295px;
    margin-right: 4px;
}

.services-btn .btn {
    padding: 10px 26px;
    border: 1px solid #fff;
    background-color: #FFFFFF1A;
    color: #FFFFFF;
    word-spacing: 5px;
}

}