.about-container {
    padding: 70px 93.37px 0px 60px;
    color: #fff;
}

.mini-card-cover {
    height: 384px;
    border-top: 1px solid #CEFAD7;
}

.mini-card {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.left-content {
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-img img {
    width: 70px;
    object-fit: fill;
}
 
.right-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.right-content > .right-btn {
    display: flex;
    gap: 30px;
}

.right-content > .right-btn > button {
    border: unset;
    background: none;
    padding: 10px 26px;
}

.right-content > .right-btn > button:first-child {
    background: #CEFAD7;
    color: #091E1D;
}

.right-content > .right-btn > button:last-child {
    background: #FFFFFF1A;
    color: #FFFFFF;
    border: .55px solid #CEFAD7;
}

.right-content > .right-btn > .btn-2 a {
    text-decoration: none;
    color: #FFFFFF;
}



/* ---------------MOBILE RESPONSIVENESS----------------*/

@media (max-width: 768px) {

.about-container {
    padding: 70px 20px 0px 20px;
    color: #fff;
}

.mini-card-cover {
    height: max-content;
    border-top: 1px solid #CEFAD7;
    margin-bottom: 30px;
}

.mini-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30px;
    gap: 20px;
}

.left-content {
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 92.18499755859375px;
}

.left-text > span {
    font-size: 13.95px;
}

.left-img img {
    width: 26.382211685180664px;
    height: 25px;
    object-fit: fill;
}
 
.right-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    line-height: 120%;
    width: max-content;
}

.right-text {
    font-size: 12.77px;
    width: 317.50439453125px;
}

.right-content > .right-btn {
    display: flex;
    gap: 30px;
    width: max-content;
}

.right-content > .right-btn > button {
    border: unset;
    background: none;
}

.right-content > .right-btn > button:first-child {
    background: #CEFAD7;
    color: #091E1D;
    height: max-content;
    font-size: 12px;
    padding: 10px 14px;
}

.right-content > .right-btn > button:last-child {
    background: #FFFFFF1A;
    color: #FFFFFF;
    height: max-content;
    font-size: 12px;
    padding: 10px 14px;
}
    
}