body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: PolySans Trial;
    background: #010303;
    font-family: "PolySans Trial", sans-serif;
}

button {
    transition: 0.4s ease-in-out;
}

button:hover {
    cursor: pointer;
    scale: 1.09;
    transition: 0.4s ease-in-out;
}

* {
    scroll-behavior: smooth;
    /* outline: 1px solid red; */
}