body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: PolySans Trial;
    background: #010303;
    font-family: "PolySans Trial", sans-serif;
}

* {
    scroll-behavior: smooth;
}