.faq-wrapper {
  margin: 90px 60px;
  text-align: center;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 300px;
  gap: 50px;
  border-top: 1px solid #fff;
  padding-bottom: 50px;
}

.faq-title {
  font-size: 25.45px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #FFFFFF;
}

.faq-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  justify-content: space-between;
  align-items: start;
}

.faq-item {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.faq-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
  font-weight: 500;
  font-size: 1rem;
  width: 500px;
  cursor: pointer;
  color: #FFFFFF;
  transition: background 0.3s ease;
  border-bottom: 1px solid #FFFFFF4D;
}

.faq-icon {
  display: flex;
  align-items: end;
  justify-content: end;
  transition: transform 0.3s ease;
}

.faq-icon.open {
  transform: rotate(180deg);
}

.faq-body-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.faq-body-wrapper.show {
  max-height: 200px;
}

.faq-body {
  padding: 1rem 1.5rem;
  border-top: 1px solid #eee;
  text-align: left;
  font-size: 0.95rem;
  display: flex;
  width: 500px;
  color: #FFFFFF;
  background-color: #091E1D;
}


.extra-texts {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.see-more {
  font-size: 20px;
  color: #FEAE00;
}

GoArrowDown {
  color: #FEAE00;
  margin-top: 50px;
}

.bottom-container{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.bottom-text {
  font-size: 30px;
  color: #606060;
}

.bottom-btn> button{
  font-size: 20px;
  border: unset;
  padding: 17px 24px;
  border-radius: 5px;
  background-color: #BF8300;
  color: #FFFFFF;
  cursor: pointer;
  text-align: center;
}




/* ---------------MOBILE RESPONSIVEBESS----------- */

@media (max-width: 768px) {
  .faq-wrapper {
  margin: 50px 10px;
  text-align: center;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 300px;
  gap: 50px;
  border-top: 1px solid #fff;
}

.faq-title {
  font-size: 25.45px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #FFFFFF;
  text-align: start;
}

.faq-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  justify-content: space-between;
  align-items: start;
}

.faq-item {
  color: #FFFFFF;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.faq-header {
  display: flex;
  align-items: center;
  text-align: start;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
  font-weight: 500;
  font-size: 1rem;
  width: 328px;
  cursor: pointer;
  color: #FFFFFF;
  transition: background 0.3s ease;
  border-bottom: 1px solid #FFFFFF4D;
}

.faq-icon {
  display: flex;
  align-items: end;
  justify-content: end;
  transition: transform 0.3s ease;
}

.faq-icon.open {
  transform: rotate(180deg);
}

.faq-body-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.faq-body-wrapper.show {
  max-height: 200px;
}

.faq-body {
  padding: 1rem 1.5rem;
  border-top: 1px solid #eee;
  text-align: left;
  font-size: 0.95rem;
  display: flex;
  width: 500px;
  color: #FFFFFF;
  background-color: #091E1D;
}


.extra-texts {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.see-more {
  font-size: 20px;
  color: #FEAE00;
}

GoArrowDown {
  color: #FEAE00;
  margin-top: 50px;
}

.bottom-container{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.bottom-text {
  font-size: 30px;
  color: #606060;
}

.bottom-btn> button{
  font-size: 20px;
  border: unset;
  padding: 17px 24px;
  border-radius: 5px;
  background-color: #BF8300;
  color: #FFFFFF;
  cursor: pointer;
  text-align: center;
}
}